* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

/* Header*/
.headerAbout, .headerPortfolio, .headerContact {
    display: flex;
    height: 500px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.headerPortfolio {
    background-image: url(../images/mobile-portfolio.jpg);
}

.headerContact {
    background-image: url(../images/mobile-contact.jpg);
}

.headerAbout {
    gap: 3rem;
    background-image: url(../images/mobile-about.jpg);
}

.title {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 200px;
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 30%;
}

.headerAbout h1 {
    font-size: 4rem;
}

.headerPortfolio h1 {
    font-size: 2.5rem;
}

.headerContact h1 {
    font-size: 3rem;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

.rowAbout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row, .navbar {
    flex-direction: column;
}

/* article - side */
.side {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

.side ul {
    list-style: none;
}

.side h5 {
    margin-bottom: 1rem;
}

.side h4 {
    margin-top: 1rem;
}

.sideAbout {
    flex: 10%;
    background-color: #999898;
    height: 1000px;
}

/* article - main */
.main {
    background-color: white;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
}

.main ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.main ul li {
    background-color: rgb(211, 209, 209);
    padding: 0.5rem;
    border-radius: 15px;
    text-align: left;
    width: auto;
    list-style: none;
    text-align: justify;
}

#ul-main {
    flex-direction: row;
}

#ul-contact {
    margin-top: 1rem;
    margin-bottom: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ul-portfolio li {
    text-align: center;
}

#ul-portfolio li img {
    width: 50%;
}

#ul-portfolio li video {
    width: 50%;
}

#ul-about {
    margin-top: 1rem;
}

#ul-about li {
    background-color: #fff;
    text-align: center;
}

#mainIndex {
    flex-direction: row;
    /* justify-content: center; */
}

.main-h4 {
    text-align: center;
}

.fa-brands.fa-github, .fa-brands.fa-instagram, .fa-brands.fa-facebook, .fa-brands.fa-linkedin {
    font-size: 2rem;
}

span {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
}

.imgPortfolio {
    display: block;
    margin: auto;
    margin-top: 0.4rem;
    width: 150px;
    height: auto;
    border-radius: 25px;
}

.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
    
.img-profile {
    background-image: url(../images/img-profile.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    position: relative;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
    }

    .headerPortfolio {
        background-image: url(../images//desk-portfolio.jpg);
    }

    .headerPortfolio h1 {
        font-size: 6rem;
    }

    .headerAbout {
        background-image: url(../images/desk-about.jpg);
    }

    .headerAbout h1 {
        font-size: 6rem;
    }

    .headerContact {
        background-image: url(../images/desk-contact.jpg);
    }

    .headerContact h1 {
        font-size: 6rem;
    }

    .main {
        height: 100vh;
        padding: 0;
    }

    .main ul {
        padding: 1rem;
    }

    .side {
        height: 100vh;
        padding: 0;
        border-bottom: none;
        border-right: 1px solid #000;
    }

    #artcicle-portfolio {
        padding: 1.5rem 10rem;
    }

    #index-side-article {
        padding-top: 1.5rem;
    }

    #index-main-article {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
    }

    #main-about {
        flex-direction: row-reverse;
    }

    #main-contact {
        justify-content: center;
    }

    #ul-about {
        margin-top: 0;
        padding: 2rem 4rem;
    }

    #ul-about-main {
        padding: 2rem 2rem;
    }

    #ul-main {
        margin-top: 2rem;
    }

    #ul-contact {
        margin-top: 2rem;
    }
}